// Portfolio Modal 5
#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal5', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Riffin
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/riffin-screenshot2.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Riffin is a React Built Web App leveraging Amazon Web Services serverless infrastructure. Users can create and save their own guitar tablature using Riffin's custom editor. Our first production branch was deployed in November 2022.
                            p.mb-4
                                | Check out the app:
                                a(href='https://www.riffin.io/profile/7b74882c-7b3c-44bc-932a-2fbb7895d29e') Deployed,
                                a(href='https://github.com/RyanSUP/riffin-v2') Github 

                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window